:root {
  --a_background: #ffb900;
  --a_font-family: "Sen", sans-serif;
}
html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}
/* khôi phục cỡ chữ mặc định tính theo rem */
/* 1rem = 10px */
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* trên đây là base dự án */

/* xoá dấu gạch chân của thẻ có đường link */
a {
  text-decoration: none;
}
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
.btn {
  display: inline-block;
  line-height: 50px;
  min-width: 118px;
  font-size: 1.6rem;
  text-align: center;
  border-radius: 999rem;
  background: #171100;
  color: #fff;
  font-weight: 600;
}
.btn:hover {
  opacity: 0.9;
  box-shadow: 1px white 0;
}
.header .body-header {
  display: flex;
}
.nav ul {
  display: flex;
}
.nav {
  margin-left: auto;
}
.nav a {
  color: #5f5b53;
  text-align: center;
  font-size: 1.6rem;
  padding: 8px 21px;
  position: relative;
}
.nav a:hover,
.nav li.active a {
  color: #171100;
  text-align: center;
  font-weight: 600;
  text-shadow: 1px 0 0 currentColor;
}
.nav li.active a::after {
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  flex-shrink: 0;
  border-radius: 1px;
  background: #171100;
  position: absolute;
  left: 2rem;
}
.header .btn-sign-up {
  min-width: 144px;
}
.header {
  background: #f8de96;
}
.header.fixed {
  z-index: 1;
  position: sticky;
  top: -28px;
}
.header .body-header {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
.header .action {
  margin-left: 49px;
}
/* code cho phần hero */
.hero .body-main {
  padding: 56px 0px 65px;
  background-color: #fff;
}
.main .hero .main-content .body-main {
  display: flex;
}
.hero .body-main .media-block {
  width: 48%;
  position: relative;
}
.hero .body-main .content-block {
  width: 52%;
}
.hero .body-main .item {
  display: flex;
  padding: 14px;
  align-items: center;
}
.hero .body-main .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}
.hero .hero-sum {
  position: absolute;
  width: 270px;
  height: 244px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
  bottom: 48px;
  right: 0;
}
.hero-sum .icon {
  width: 48px;
  height: 48px;
  background-color: rgb(243, 243, 169);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-sum .icon2 {
  background-color: rgb(247, 174, 247);
}
.hero-sum .icon3 {
  background-color: rgb(176, 176, 248);
}
.hero-sum .info {
  margin-left: 16px;
}
.hero-sum .lable {
  color: #5f5b53;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
.hero-sum .title {
  color: #171100;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
}
.hero .content-block {
  padding-left: 130px;
  padding-top: 64px;
}
.hero .title-head {
  color: #171100;
  font-family: var(--a_font-family);
  font-size: 58px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: -1.16px;
}
.hero .desc {
  margin-top: 22px;
  color: #5f5b53;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.67;
}
.hero .cta-group {
  display: flex;
  margin-top: 38px;
}
.hero .btn2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 64px;
  border-radius: 32px;
  background-color: var(--a_background);
}
.hero .watch-video {
  display: flex;
  border: none;
  background: transparent;
  align-items: center;
  margin-left: 28px;
  cursor: pointer;
}
.hero .cta-group .watch-video span {
  margin-left: 14px;
  width: 148px;
  color: #171100;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.67;
}
.hero .content-block .desc2 {
  margin-top: 48px;
}
.hero .content-block .desc3 {
  margin-top: 8px;
}
.hero .cta-group .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
}
.hero .content-block .desc strong {
  color: #171100;
  font-family: var(--a_font-family);
  font-size: 44px;
  font-weight: 700;
  line-height: 1.22;
  margin-right: 15px;
}
.hero .content-block .desc strong:nth-child(2) {
  margin-left: 28px;
}
/* code phan popular */
/* top */
.popular-top .info .heading {
  color: #171100;
  font-family: var(--a_font-family);
  font-size: 38px;
  font-weight: 700;
  line-height: 1.26;
  letter-spacing: -0.76px;
}
.popular-top .info .desc {
  width: 458px;
  color: #5f5b53;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.67;
  margin-top: 1rem;
}
.popular-top .navigation-button {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 1px solid #ffb900;
  position: relative;
}
.popular-top .n-button2 {
  border-radius: 40px;
  background: #ffb900;
}
.popular-top .navigation-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.popular-top .navigation-bar {
  display: flex;
  gap: 18px;
}
.popular-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popular .img-course {
  width: 370px;
  height: 278px;
  border-radius: 12px 12px 0px 0px;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}
.popular .name-of-course p {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}
.popular .course .content-of-course {
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.85;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
.popular .course .cost {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}
.popular .course .course-of-rate {
  display: flex;
}
.popular .course .course-of-rate p {
  color: #fea31b;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}
.popular .course .name-of-course {
  display: flex;
  justify-content: space-between;
}
.popular .course-list {
  display: flex;
  gap: 3rem;
}
.popular .course .book-click {
  width: 118px;
  height: 50px;
  border-radius: 25px;
  background: #ffb900;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popular .course .book-now {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular .course .but-later {
  background: #171100;
  color: #fff;
}
/* code phần feedback */
.feedback {
  margin-top: 200px;
  height: 380px;
  background: #2e2100;
}
.feedback .person .thanh {
  width: 72px;
  height: 72px;
  border-radius: 72px;
  background: url(<path-to-image>);
}
.feedback .person .name-of-person {
  color: #f7f7f7;
  font-family: var(--a_font-family);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.41;
  margin-top: 18px;
  width: 200px;
}
.feedback .person .course-on {
  color: #bfbcb2;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.85;
  margin-top: 4px;
}
.feedback .person-at {
  display: flex;
  width: 30px;
  justify-content: space-between;
  margin-top: 28px;
}
.dot {
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background: #946b05;
}
.dot-on {
  background: #ffb703;
}
.feedback .person {
  position: relative;
  margin: 96px 135px;
}
.feedback .feedback-item {
  display: flex;
  align-items: center;
}
/* student cmt */
.feedback .student-comment img {
  width: 30px;
  height: 28px;
}
.feedback .student-comment p {
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.53;
}
.feedback .student-comment {
  margin-left: 41px;
}
/* code phần features */
.features .features-top {
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.features .features-top .image {
  display: flex;
  gap: 30px;
  margin-right: 130px;
}
.features img {
  width: 270px;
  height: 405px;
  border-radius: 16px;
}
.features img:first-child {
  position: relative;
  top: 34px;
}
.features .content-features {
  color: #171100;
  font-family: var(--a_font-family);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.26;
  letter-spacing: -0.76px;
  margin-bottom: 16px;
}
.features .features-top .content-here,
.lesson-time {
  color: #5f5b53;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}
.features .sign-up {
  width: 137px;
  height: 50px;
  border-radius: 26px;
  background: #ffb900;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}
.features .features-bottom {
  display: flex;
  margin-top: 234px;
  justify-content: space-between;
  align-items: center;
}
.features .content {
  width: 570px;
}
/* code phần blog */
.blog-content {
  margin-top: 296px;
  margin-bottom: 96px;
}
.blog-content .title-main {
  color: #130606;
  text-align: center;
  font-family: var(--a_font-family);
  font-size: 38px;
  font-weight: 700;
  line-height: 1.26;
  letter-spacing: -0.76px;
}
.blog-content .title-blog {
  margin: 0 auto;
  width: 448px;
  color: #696262;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
  margin-bottom: 55px;
}
.blog-content .blog-list {
  display: flex;
  gap: 30px;
}
.blog-content .blog-list .img {
  width: 370px;
  height: 250px;
  border-radius: 16px 16px 0px 0px;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}
.blog-content .blog-list .date {
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.85;
  margin-top: 20px;
  margin-bottom: 25px;
}
.blog-content .blog-list .title {
  color: #171100;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.75;
  width: 330px;
  margin-bottom: 12px;
}
.blog-content .blog-list .read-more {
  background: #ffb900;
}
.blog-content .blog-in {
  display: flex;
  width: 30px;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 66px;
}
/* code phần footer */
.footer-content {
  height: 428px;
  background: #2e2100;
}
.footer-content .box-footer-content {
  display: flex;
  padding: 96px 135px 38px;
}
.footer-content .lesson p {
  color: #fff;
  font-family: var(--a_font-family);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 34px;
}
.footer-content .lesson p + p {
  color: #ffb900;
  font-family: var(--a_font-family);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 34px;
}
.footer .lesson .lesson-title {
  display: flex;
  align-items: center;
}
.footer .lesson .lesson-promise {
  width: 267px;
  color: #bfbcb2;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8;
  margin-top: 18px;
}
.footer .lesson .icon {
  display: flex;
  gap: 18px;
  margin-top: 18px;
}
/*  */
.footer p:first-child {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
}
.footer a,.address p{
  color: #bfbcb2;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.85;
}
.footer strong{
  color: #FFF;
  font-weight: 600;
}
.footer .box-footer-content hr{
  width: 130px;
  height: 1px;
  
}
.footer .box-footer-content .lesson{
  max-width: 267px;
  margin-right: 0.08;
  width: 267px;

}
.footer .box-footer-content .support{
  max-width: 137px;
  margin-left: 130px;
  margin-right: 130px;
}
.footer .made-by{
  text-align: center;
}
.footer .made-by p{
  color: #807D74;
text-align: center;
font-size: 1.4rem;
font-weight: 400;
line-height: 1.85; 
}
